/* reset */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Poppins',sans-serif;
    margin: 0;
    background-color: #fff;
    line-height: 1.6;
    text-rendering:optimizeLegibility;
}
h1,h2,h3,h4,p,ul,ol, figure{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 200;
}

*{
    box-sizing: border-box;
}

img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}


a{
    text-decoration: none;
    color: #222;
}

button, input[type="submit"]{
    padding: 0;
    background-color: transparent;
    font-size: inherit;
    border: 0;
}

button{
    background-color: transparent;
    border: 0;
}

/*charte graphique couleur*/
:root{
    --background-color:#1C1B22;
    --color-initial:#fff;
    --color-primary:#874EBF;
    --color-secondary:#C599F2;
}

/* THEME */ 

body{
    background-color:var(--background-color);  
    color:var(--color-initial); 
}


/* HEADER */

header, main, footer{
    max-width: 120rem;
    margin:0 auto; 
}

header h1 {
    color:var(--color-initial); 
    padding: 1rem;
    text-align: center;
}

header h1::before{
    content:url(../asset/logoSite.png);
    vertical-align: -1.5rem;
    
}

/* NAVIGATION */
  

.navMenu { 
    max-width: 120rem;
    margin: 0 auto;
    line-height: 4.5rem;
  }
 
  .navMenu ul {
    font-size: 0;
  }

  .navMenu ul li{
    display: inline-block;
    font-size: initial;
    padding:.8rem;
    width: calc(100%/4);
  }

  .navMenu ul li a{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    color: #fff;
    text-align: center;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
  }

  .navMenu ul li:hover a{
    color: var(--color-primary);
  }

  .navMenu .dot {
    width: 10px;
    height: 10px;
    background: var(--color-primary);
    border-radius: 50%;
    opacity: 1;
    -webkit-transform: translateX(142px);
    transform: translateX(142px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu ul li a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(446px);
    transform: translateX(446px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu ul li a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(750px);
    transform: translateX(750px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu ul li a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(1050px);
    transform: translateX(1050px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu ul li a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

  .navMenu ul li a:nth-child(5):hover ~ .dot {
    -webkit-transform: translateX(370px);
    transform: translateX(370px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
   
/* MAIN */ 
main h2 {
    text-align: center;
    padding:1rem;
}



.contour {
  border: 0.3rem solid var(--color-primary);
  background-color: var(--color-primary);
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color:var(--color-initial); 
}


main .grid-picture {
    display: grid; 
    max-width: 120rem;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
}

/* Overley effect */
ul figure{
    position: relative;
}

ul figure .material-icons{
    vertical-align: -.4rem;
}

ul figure figcaption{
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    transform: scale(0);
    transition: all 500ms ease-in-out;
    transform-origin: center center;
    cursor: pointer;
    color: #fff;
    text-align: center;
}

ul figure:hover figcaption{
    transform: scale(1);
}

.button {
    background-color: var(--color-primary);
    color: white;  
    border-radius: 1rem;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 1rem 1.5rem;
    height: 5rem;
    transition: color 100ms;
    text-align: center;
}

.button:hover {
    background-color: var(--color-secondary);
    color: black;
}

/* FOOTER */

footer {
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 10rem;
}



/* MODALE */
.modale figcaption, .modale img {
  display: inline-block;
  width: calc(100% / 2 - 1rem);
  padding-right: 2.5rem;
  vertical-align: top;
  font-size: inherit;
}

.modale{
    max-width: 80rem;
    width: 80rem;
    padding: 2.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow:0 0 1rem rgba(0,0,0,0.6);
    z-index: -1;
    opacity: 0;
    cursor: pointer;
    transition:all 500ms ease-in-out;
}
.modale ul {
  font-size: 0;
}
.modale ul li {
  display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.modale .desc{
    position: static;
    text-align: center;
    transition: none;
    background-color: #fff;
    color: #1C1B22;
}

.modale .desc h3{
    font-size: x-large;
    
    font-weight: 400;
    padding: 1rem;
}

.modale .desc p {
    padding: 1rem;
}

.modale .desc time{
    padding: 1rem;
}

.modale-active{
    z-index: 1;
    opacity: 1;
    transform-origin: center center;
}

.modale button{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    z-index: 2;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

/* LOGIN PAGE */
.login-page {
  width: 360px;
  padding: 5% 0 0;
  margin: auto;
}

.form h1 {
  color: #505050;
  text-transform: capitalize;
  font-weight: bold;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #864ebf09;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #874EBF;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #C599F2;
}
.form .message {
  margin: 15px 0 0;
  color: #8d8d8d;
  font-weight: bold;
  font-size: 15px;
}
.form .message a {
  color: #874EBF;
  font-weight: bold;
  text-decoration: none;
}

